@import './header.scss';
@import './typography.scss';
@import './variables.scss';
@import './container.scss';
@import './mixins.scss';
@import './footer.scss';

* {
    margin: 0;
    padding: 0;
}

  
body {
    margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 

//   position: relative;
 
}